<template>
  <footer class="footer">
    <p>&copy; 2018</p>
    <ul class="links">
      <li v-for="link in links" :key="link.id">
        {{ link.toUpperCase() }}
      </li>
    </ul>
  </footer>
</template>

<script>
export default {
  name: 'AppFooter',
  data() {
    return {
      links: ['home', 'about us', 'contact us']
    }
  }
}
</script>


<style scoped>
footer {
  background: #eee;
  width: 100%;
  height: 80px;
}
.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  display: flex;
  list-style: none;
  justify-items: center;
  padding: 0;
  margin: 0 10px;
}
.links li {
  margin-right: 10px;
}
</style>


