<template>
  <section class="container">
    <app-logo/>
    <nav class="menu">
      <nuxt-link to="/">Home page</nuxt-link>
      <nuxt-link to="/about">About page</nuxt-link>
    </nav>
    <div class="content">
        <h1>
          Contact page
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dicta laudantium corrupti eum officia minima neque, quidem velit expedita aspernatur beatae ipsam sapiente veritatis blanditiis doloribus dolorum cumque molestiae iure.
        </p>
    </div>
  </section>
</template>

<style scoped>
.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu,
.content {
  grid-column: 1 / -1;
}
.menu {
  position: fixed;
  top: 0;
  padding-top: 40px;
  padding-left: 30px;
  background: azure;
  width: 100%;
  padding-bottom: 40px;
  text-align: left;
}
.menu a {
  text-decoration: none;
  color: #888;
  font-weight: bold;
}
.menu a:hover {
  color: #009688;
}
</style>