<template>
  <section class="container">

      <nav class="menu">
        <nuxt-link to="/">Home page</nuxt-link>
        <nuxt-link to="/about">About page</nuxt-link>
      </nav>
       <div>
         <app-logo/>
        <h1 class="title">
          First nuxt nuxt
        </h1>
        <h2 class="subtitle">
          Learning
        </h2>
       </div>

    <app-footer/>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'
import AppFooter from '~/components/AppFooter.vue'

export default {
  components: {
    AppLogo,
    AppFooter
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.menu {
  position: fixed;
  top: 0;
  padding-top: 40px;
  padding-left: 30px;
  background: azure;
  width: 100%;
  padding-bottom: 40px;
  text-align: left;
}
.menu a {
  text-decoration: none;
  color: #888;
  font-weight: bold;
}
.menu a:hover {
  color: #009688;
}
</style>

